<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>Or3WAR</display-name>
<!--  <filter>
  <filter-name>NtlmHttpFilter</filter-name>
  <filter-class>GbdulNtlmFilter</filter-class>
  <init-param>
   <param-name>jcifs.http.domainController</param-name>
   <param-value>192.168.13.7</param-value>
  </init-param>
  <init-param>
   <param-name>jcifs.smb.client.domain</param-name>
   <param-value></param-value>
  </init-param>
  <init-param>
   <param-name>jcifs.smb.client.username</param-name>
   <param-value>erik</param-value>
  </init-param>
  <init-param>
   <param-name>jcifs.smb.client.password</param-name>
   <param-value>eriktamursys</param-value>
  </init-param>
  <init-param>
   <param-name>jcifs.util.loglevel</param-name>
   <param-value>1</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>NtlmHttpFilter</filter-name>
  <url-pattern>/ntlm</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>NTLMExampleServlet</servlet-name>
  <servlet-class>NtlmHttpAuthExample</servlet-class>
 </servlet>
 --> <servlet>
  <display-name>StartupServlet</display-name>
  <servlet-name>StartupServlet</servlet-name>
  <servlet-class>kz.tamur.test.StartupServlet</servlet-class>
  <init-param>
   <param-name>dataSources</param-name>
   <param-value>java:/KNBMysqlDS</param-value>
  </init-param>
  <init-param>
   <param-name>dataSourceNames</param-name>
   <param-value>ctsat</param-value>
  </init-param>
  <init-param>
   <param-name>dataSourceTypes</param-name>
   <param-value>mysql3</param-value>
  </init-param>
  <init-param>
   <param-name>pluginsFiles</param-name>
   <param-value>C:/jboss-5.1.0.GA/server/standard/conf/krs_plugins.xml</param-value>
  </init-param>
  <init-param>
   <param-name>tpropsFiles</param-name>
   <param-value>C:/jboss-5.1.0.GA/server/standard/conf/krs_transport.properties</param-value>
  </init-param>
  <init-param>
   <param-name>replicationDirs</param-name>
   <param-value>C:/or3-servers/kadry_pol_sys</param-value>
  </init-param>
  <load-on-startup>3</load-on-startup>
 </servlet>
 
 <servlet>
  <servlet-name>Or3RemoteServlet</servlet-name>
  <servlet-class>kz.tamur.web.controller.WebController</servlet-class>
  <init-param>
   <param-name>apphome</param-name>
   <param-value>C:/Or3WAR</param-value>
  </init-param>
  <init-param>
   <param-name>apppath</param-name>
   <param-value>/Or3WAR</param-value>
  </init-param>
  <init-param>
   <param-name>backpage</param-name>
   <param-value>/Or3WAR/index2.html</param-value>
  </init-param>
  <init-param>
   <param-name>refresh_period</param-name>
   <param-value>8000</param-value>
  </init-param>
  <init-param>
   <param-name>ping_period</param-name>
   <param-value>60000</param-value>
  </init-param>
  <init-param>
   <param-name>check_confirm_period</param-name>
   <param-value>3000</param-value>
  </init-param>
  <init-param>
   <param-name>check_sign_period</param-name>
   <param-value>4000</param-value>
  </init-param>
  <init-param>
   <param-name>web_session_timeout</param-name>
   <param-value>120000</param-value>
  </init-param>
  <init-param>
   <param-name>askConfirm</param-name>
   <param-value>true</param-value>
  </init-param>
  <init-param>
   <param-name>editableCombo</param-name>
   <param-value>false</param-value>
  </init-param>
  <init-param>
   <param-name>reportType</param-name>
   <param-value>jacob</param-value>
  </init-param>
  <init-param>
   <param-name>menuX</param-name>
   <param-value>250</param-value>
  </init-param>
  <init-param>
   <param-name>menuHeight</param-name>
   <param-value>21</param-value>
  </init-param>
  <init-param>
   <param-name>helpLink</param-name>
   <param-value>help.mht</param-value>
  </init-param>
  <init-param>
   <param-name>zebra1</param-name>
   <param-value>#d0e1f4</param-value>
  </init-param>
  <init-param>
   <param-name>zebra2</param-name>
   <param-value>#e9f4ff</param-value>
  </init-param>
  <init-param>
   <param-name>serverType</param-name>
   <param-value>JBossAS7</param-value>
  </init-param>
  <init-param>
   <param-name>java.naming.factory.initial</param-name>
   <param-value>org.jnp.interfaces.NamingContextFactory</param-value>
  </init-param>
  <init-param>
   <param-name>java.naming.factory.url.pkgs</param-name>
   <param-value>localhost</param-value>
  </init-param>
  <init-param>
   <param-name>java.naming.provider.url</param-name>
   <param-value>4447</param-value>
  </init-param>
  <init-param>
   <param-name>baseName</param-name>
   <param-value>ctsat</param-value>
  </init-param>
  <init-param>
   <param-name>new_ui</param-name>
   <param-value>1</param-value>
  </init-param>
  <init-param>
   <param-name>knb_ui</param-name>
   <param-value>1</param-value>
  </init-param>
  <init-param>
   <param-name>advanced_ui</param-name>
   <param-value>1</param-value>
  </init-param>
  <init-param>
   <param-name>noKernel</param-name>
   <param-value>0</param-value>
  </init-param>
  <init-param>
   <param-name>addApplet</param-name>
   <param-value>false</param-value>
  </init-param>
  <init-param>
   <param-name>webClientWindowTitleRu</param-name>
   <param-value>\u0413\u041e\u0421\u0423\u0414\u0410\u0420\u0421\u0422\u0412\u0415\u041d\u041d\u042b\u0419 \u0420\u0415\u0413\u0418\u0421\u0422\u0420 \u0418\u041d\u0424\u041e\u0420\u041c\u0410\u0426\u0418\u041e\u041d\u041d\u042b\u0425 \u0420\u0415\u0421\u0423\u0420\u0421\u041e\u0412 \u0418 \u0418\u041d\u0424\u041e\u0420\u041c\u0410\u0426\u0418\u041e\u041d\u041d\u042b\u0425 \u0421\u0418\u0421\u0422\u0415\u041c \u041c\u0421\u0418 \u0420\u041a</param-value>
  </init-param>
  <init-param>
   <param-name>webClientWindowTitleKz</param-name>
   <param-value>\u049a\u0420 \u0411\u0410\u041c \u0410\u049b\u043f\u0430\u0440\u0430\u0442\u0442\u044b\u049b \u0440\u0435\u0441\u0443\u0440\u0441\u0442\u0430\u0440 \u043c\u0435\u043d \u0430\u049b\u043f\u0430\u0440\u0430\u0442\u0442\u044b\u049b \u0436\u04af\u0439\u0435\u043b\u0435\u0440\u0434i\u04a3 \u041c\u0435\u043c\u043b\u0435\u043a\u0435\u0442\u0442i\u043a \u0442i\u0440\u043a\u0435\u043bi\u043ci</param-value>
  </init-param>
  <init-param>
   <param-name>taskTableColumns</param-name>
   <param-value>svetofor,processName,objectName,taskName,open,openInspector,nextStep,date,time,dateControl,initiator,kill</param-value>
  </init-param>
  <init-param>
   <param-name>taskTableColumnNamesRu</param-name>
   <param-value>,\u041f\u0440\u043e\u0446\u0435\u0441\u0441,\u041e\u0431\u044a\u0435\u043a\u0442 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0438,\u042d\u0442\u0430\u043f,,,,\u0414\u0430\u0442\u0430,\u0412\u0440\u0435\u043c\u044f,\u0414\u0430\u0442\u0430 \u043a\u043e\u043d\u0442\u0440.,\u0418\u043d\u0438\u0446.\u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0430,</param-value>
  </init-param>
  <init-param>
   <param-name>taskTableColumnNamesKz</param-name>
   <param-value>,\u041f\u0440\u043e\u0446\u0435\u0441\u0441,\u04e8\u04a3\u0434\u0435\u0443 \u043e\u0431\u044a\u0435\u043a\u0442\u0456\u0441\u0456,\u041a\u0435\u0437\u0435\u04a3,,,,\u041a\u04af\u043d,\u0421\u0430\u0493\u0430\u0442,\u0422\u0435\u043a\u0441\u0435\u0440\u0443 \u043a\u04af\u043d\u0456,\u041f\u0440\u043e\u0446\u0435\u0441\u0442\u0456\u04a3 \u0431\u0430\u0441\u0442.,</param-value>
  </init-param>
  <init-param>
   <param-name>taskTableColumnAligns</param-name>
   <param-value>,,,,,,,right,right,right,,</param-value>
  </init-param>
  <init-param>
   <param-name>taskTableColumnWidths</param-name>
   <param-value>20,260,260,200,20,20,20,60,50,70,100,20</param-value>
  </init-param>
<!--
  <init-param>
   <param-name>titlePageHeight</param-name>
   <param-value>120</param-value>
  </init-param>
  -->
 </servlet>
 <servlet>
  <servlet-name>images</servlet-name>
  <servlet-class>kz.tamur.web.controller.ImagesController</servlet-class>
  <init-param>
   <param-name>apphome</param-name>
   <param-value>C:/Or3WAR</param-value>
  </init-param>
 </servlet>
<!--  <servlet>
  <display-name>NtlmServlet</display-name>
  <servlet-name>NtlmServlet</servlet-name>
  <servlet-class>NtlmHttpAuthExample</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>NtlmServlet</servlet-name>
  <url-pattern>/ntlm</url-pattern>
 </servlet-mapping>
 --> <servlet-mapping>
  <servlet-name>StartupServlet</servlet-name>
  <url-pattern>/StartupServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Or3RemoteServlet</servlet-name>
  <url-pattern>/main</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>images</servlet-name>
  <url-pattern>/images/foto/*</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>default.jsp</welcome-file>
 </welcome-file-list>
</web-app>
