.archive-tree .tree-node, .dicts-tree .tree-node {
	height: 24px;
}
.archive-tree .tree-icon, .dicts-tree .tree-icon {
	height: 24px;
	width: 22px;
}
.archive-tree .tree-title, .dicts-tree .tree-title {
	line-height: 24px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: #444444;
}
.archive-tree .tree-hit, .dicts-tree .tree-hit {
	margin-top: 4px;
}
div.archive, div.dict {
	float: left;
	height: 150px;
	margin: 10px;
	padding: 5px;
	text-align: center;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	background: linear-gradient(180deg, #FFFFFF 0%, #F8F9FA 85.94%, #FFFFFF 100%);
	border: 0.5px solid #F1F5F8;
	box-shadow: 4px 9px 4px rgba(0, 0, 0, 0.01), 2px 5px 3px rgba(0, 0, 0, 0.05), 1px 2px 2px rgba(0, 0, 0, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
div.archive span {
	background-image: url("or3/arch.svg") !important;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	margin: 10px 0 10px;
}
div.archive a, div.dict a {
	display: block;
	font-size: 13px !important;
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
}
div.dict span {
	background-image: url("or3/dict.svg") !important;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	margin: 10px 0 10px;
}
