.datagrid-header-row>td {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.datagrid-header-row>td span {
	font-weight: bold;
}
.datagrid-header {
  background: linear-gradient(to bottom, #F4F2F2 0px, #CDCCCC 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.combobox-item {
	display: table-row;
	height: 16px;
}
.combo-cell {
	display: table-cell;
	padding: 3px;
}